
.dish {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  width: 200px;
  cursor: pointer;
}

/* At any given time, exactly one of .dishUnselected, .dishHalfSelected, or .dishSelected
must be active in a given dish element */

.dishUnselected {
  border: 5px solid white;
  background-color: white;
}

/* Use this instead of .dish:hover to keep the code explicit by avoiding weird specificity rules */
.dishHalfSelected {
  border: 5px solid lightgray;
  background-color: white;
}

.dishSelected {
  border: 5px solid lightgray;
  background-color: lightgray;
}

.dish > div:first-child {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  height: 150px;
}

.dish > div > img {
  height: 100%;
}

.dish > h3 {
  text-align: center;
  margin: 10px;
  margin-bottom: 0px;
}
