

.pillRadio {
  display: flex;
}

.pillRadio > div {
  margin: 3px;
}

.pillRadio > .selected {
  background-color: var(--selectedColor);
  border: 5px solid var(--selectedColor);
  cursor: default;
}
